{# Render label if needed #}
{% if field.type!='hidden' and field.label is not empty %}
	<label for="{{ field.name }}">{{ field.label }}{% if field.required %}*{% endif %}</label>
{% endif %}

{# Set empty value: #}
{% if field.value == null %}
	{% set value = (field.type in ['select', 'radio', 'checkbox']) ? field.default : '' %}
{% else %}
	{% set value = field.value %}
{% endif %}

{# Render select #}
{% if field.type == 'select' %}
	<select name="{{ field.name }}"
			class="{{ field.class }}"
			{% if field.required %} required="required"{% endif %}
			{% if field.multiple %} multiple{% endif %}
			>
		{% set multipleValues = (field.multiple) ? value|split(field.separator) : [] %}

		{% for option,label in field.values %}
			<option value="{{ option }}" {% if option==value or option in multipleValues %}selected{% endif %}>
				{{ label }}
			</option>
		{% endfor %}
	</select>
	{# Render radio #}
{% elseif field.type == 'radio' %}
	{% for option,label in field.values %}
		<input type="{{ field.type }}" name="{{ field.name }}" value="{{ option }}" class="{{ field.class }}" {% if option==value %}checked{% endif %} />
		{{ label }}
	{% endfor %}
	{# Render checkbox #}
{% elseif field.type == 'checkbox' %}
	{% set option = (field.values is defined) ? field.values : field.default %}
	<input type="{{ field.type }}" name="{{ field.name }}" value="{{ option }}" class="{{ field.class }}" title="{{ label }}" {% if value == field.values %}checked{% endif %} />
	{# Render textarea #}
{% elseif field.type == 'textarea' %}
	<textarea name="{{ field.name }}"
			  class="{{ field.class }}"
			  {% if field.required %}required="required" {% endif %}
			{% if field.length is not empty %}maxlength="{{ field.length }}" {% endif %}
			{% if field.default is not empty %}placeholder="{{ field.default }}" {% endif %}
			>{{ value }}</textarea>
	{# Render other inputs #}
{% else %}
	<input type="{{ field.type }}" name="{{ field.name }}" value="{{ value }}" class="{{ field.class }}"
		   {% if field.required %}required="required" {% endif %}
			{% if field.length is not empty %}maxlength="{{ field.length }}" {% endif %}
			{% if field.default is not empty %}placeholder="{{ field.default }}" {% endif %}
			/>
{% endif %}
