<form action="{{ form.action }}" class="{{ form.class }}" method="{{ form.method }}" enctype="{{ form.enctype }}">
	{% for name,field in fields %}
		{{ form.fieldBefore | raw }}
		{% include 'field.twig' with {'name':name, 'field':field} only %}
		{{ form.fieldAfter | raw }}
	{% endfor %}

	{% if form.submit is not empty %}
		<input type="submit" value="{{ form.submit }}" />
	{% endif %}
</form>